* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
    .side {
      width: 0%;
      display: none;
    }
    .content {
        width: 100% !important;
        margin-left: 1em !important;
    }
  }

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
    background-color: #222831;
    color: #EEEEEE;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.bodyFlex {
    display: flex;
    flex-direction: row-reverse;
}

.content {
    width: 80%;
    margin-left: 2em;
}

.content a {
    color: #76abae;
}

.content section, img {
    padding: 2em 0em;
    line-height: 2em;
}

/* Sidebar */
.side {
    height: inherit;
    width: 20%;
    margin-top: 20vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.sidebar {
    width: inherit;
    position: fixed;
    right: 2em;
    display: flex;
    flex-direction: column;
    text-align: right;
    list-style: none;
}
/* Sidebar links */
.sidebar a {
    display: inline-block;
    margin: 10px 0px 12px 30px;
    text-decoration: none;
    font-size: 16px;
    color: #EEEEEE;
    background:
        linear-gradient(
            to right,
            #EEEEEE,
            #EEEEEE
            ),
            linear-gradient(
            to right,
            rgba(118, 171, 174, 1),
            rgba(118, 171, 174, 1)
        );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;          
}

.sidebar a:hover {
    background-size: 0 2px, 100% 2px;
}

/* Profile Image */
.imgProfile {
    width: 35vw;
    height: auto;
}


/* Image Gallery Styles
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 15px;
    padding: 20px;
}
.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.image-gallery img:hover {
    transform: scale(1.05);
}*/

/* Contact icons */
.container a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}
.container a i {
    color: #76abae;
    font-size: 24px;
}

/* Footer */
.footer {
    background: #31363F;
    color: #fff;
    text-align: center;
    padding: 20px;
}

